// Claim page
.claim {
  // Sizing
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 4rem;
  border: 2px solid red;
}

// Individual card container
@supports (backdrop-filter: blur(25px)) {
  .card {
    background: rgba(180, 180, 180, 0.75);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
}
.card {
  background: rgba(180, 180, 180, 0.75);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  // background: white;
  border-radius: 1rem;
  color: rgb(23, 5, 2);
  padding: 2rem;
  width: calc(100% - 4rem - 20px);
  max-width: clamp(500px, 30vw, 65%);
  box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  text-align: center;

  // Header
  > h1 {
    margin: 0px;
    line-height: 1.2;
    font-size: 2rem;
    background: rgb(23, 5, 2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // Description
  > p {
    line-height: 1.5;
    margin: 1rem 0px;
  }

  // Main blue button
  > button {
    min-width: 150px;
    margin-top: 1rem;
    font-weight: 500;
    border-radius: 12px;
    padding: 1rem;
    font-size: 16px;
    color: rgb(180, 180, 180);
    background-color: rgb(23, 5, 2);
    margin: auto;
    border: none;
    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(23, 5, 2);
      box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.25);
      transform: scale(1.01);
      transition: all 0.5s;
      border: none;
    }

    // Disable border color change on disabled hover
    &:disabled:hover {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
