// Claim page
.claim {
  // Sizing
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
}

// Individual card container
@supports (backdrop-filter: blur(25px)) {
  .card {
    background: rgba(180, 180, 180, 0.75);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
}
.card {
  background: rgba(180, 180, 180, 0.75);

  // background: white;
  border-radius: 1rem;
  color: #232526;
  padding: 1.5rem;
  width: calc(100% - 4rem - 20px);
  max-width: clamp(500px, 30vw, 65%);
  box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  text-align: center;

  // Header
  > h1 {
    margin: 0;
    line-height: 1;
    font-size: 2rem;
    color: #232526;
  }

  // Description
  > p {
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  // Main black button
  > button {
    min-width: 150px;
    font-weight: 500;
    border-radius: 12px;
    padding: 1rem;
    color: rgb(180, 180, 180);
    background-color: rgb(23, 5, 2);
    margin: 0.5rem auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(23, 5, 2);
      box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.25);
      transform: scale(1.01);
      transition: all 0.5s;
      border: none;
    }

    // Disable border color change on disabled hover
    &:disabled:hover {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
@media (max-width: 600px) {
  .claim h1 {
    font-size: 1.5rem;
  }
}
