.home {
  // Sizing
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
  height: 60vh;

  // Logo
  > div {
    margin: 2.5rem;
  }

  // Article link
  > a {
    color: #9e9e9e;
    font-weight: 800;
    font-size: 1rem;
    transition: 100ms ease;

    &:hover {
      opacity: 0.7;
    }
  }

  // Header
  > h1 {
    // border: 2px solid red;
    font-size: clamp(3rem, 7.5vw, 3rem);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3.5rem;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 75%, #232526);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  > button {
    min-width: 150px;
    font-weight: 500;
    border-radius: 12px;
    padding: 1rem;
    font-size: 16px;
    color: rgb(180, 180, 180);
    background-color: #232526;
    margin: auto;
    border: none;
  }
  > button:hover {
    color: rgb(239, 236, 233);
    background-color: #232526;
    box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.76);
    transform: scale(1.01);
    transition: all 0.5s;

    &:disabled:hover {
      opacity: 0.5;
      cursor: not-allowed;
      transition: none;
      color: rgb(180, 180, 180);
      box-shadow: none;
      background-position: unset;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      transform: none;
    }
  }
}

// Responsive
@media screen and (max-width: 728px) {
  .home {
    height: 100%;
    padding: 1rem;
    > div {
      margin: 2rem;
    }
    > button {
      min-width: 150px;
    }
    > h1 {
      // border: 2px solid red;
      margin-bottom: 3rem;
      font-size: clamp(2.2rem, 5vw, 2.5rem);
    }
  }
}
