.home {
  // Sizing
  max-width: 100%;
  margin: 0px auto 50px auto;
  text-align: center;
  padding: 1rem;
  overflow: hidden;

  // Logo
  > div {
    margin: 2.5rem;
  }

  // Article link
  > a {
    color: #9e9e9e;
    font-weight: 800;
    font-size: 18px;
    transition: 100ms ease;

    &:hover {
      opacity: 0.7;
    }
  }

  // Header
  > h1 {
    // border: 2px solid red;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3.5rem;
    background: linear-gradient(135deg, hsl(4, 100%, 49%) 55%, rgb(44, 15, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // > p {
  //   font-size: 18px;
  //   color: rgb(113, 113, 113);
  //   line-height: 1.5;
  //   margin: 1rem;
  // }

  > button {
    min-width: 150px;
    font-weight: 500;
    border-radius: 12px;
    padding: 1rem;
    font-size: 16px;
    color: rgb(180, 180, 180);
    background-color: rgb(23, 5, 2);
    margin: auto;
    border: none;
  }
  > button:hover {
    color: rgb(239, 236, 233);
    background-color: rgb(23, 5, 2);
    box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.25);
    transform: scale(1.01);
    transition: all 0.5s;

    &:disabled {
      opacity: 0.5;
      border: 2px solid rgb(23, 5, 2);
      cursor: not-allowed;
    }
  }
}

// Responsive
@media screen and (max-width: 728px) {
  .home {
    padding: 1rem;
  }
}
