// Footer
.footer {
  // Spacey margin
  margin: 1rem 4rem;
  // Align right on desktop
  text-align: right;
  height: calc(70px - 2rem);

  // Individual social links
  > a {
    margin: 0.5rem;

    &:hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1.05);
      opacity: 1;
      filter: brightness(10);
    }
  }
}

// Responsive
@media screen and (max-width: 728px) {
  .footer {
    // Align links center on mobile
    text-align: center;
  }
}
