// Header
.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;

  // Non-action-menu divs (seperate space-between)
  > div:nth-child(1),
  > div:nth-child(2) {
    width: auto;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
  }
}

// Header: Logo
.header__logo {
  justify-content: flex-start;
  align-self: end;

  > a {
    transition: 0.5s ease;

    &:hover {
      transform: rotate(10deg);
    }
  }
}

// Header: Connect Wallet + Actions menu
.header__actions {
  justify-content: flex-end;

  // Universal hover colors
  > button {
    &:hover {
      color: rgb(255, 255, 255) !important;
      background-color: #232526;
      border-color: #232526;
      transform: scale(1.01);
      transition: all 0.5s;
    }
  }
  button:hover:nth-of-type(2) {
    background: rgb(92, 91, 91);
    transform: scale(1.05);
    transition: all 0.5s;
  }

  // Connect Wallet
  > button:nth-of-type(1) {
    min-width: 150px;
    line-height: 1.15;
    border-radius: 12px;
    padding: 1rem;
    margin: 0px 1rem;
    color: rgb(180, 180, 180);
    background-color: #232526;
    border: none;
  }

  // Actions menu
  > button:nth-of-type(2) {
    border-radius: 12px;
    // color: rgb(180, 180, 180);
    background: rgb(180, 180, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: none;

    > img {
      display: flex;
      height: 25px;
      width: 25px;
    }
  }
}

// Header: Action menu
.header__actionMenu {
  background: rgb(180, 180, 180);
  border-radius: 12px;
  width: 12.5rem;
  position: absolute;
  top: 100px;
  right: 2rem;
  box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.75);
  z-index: 999;
  > a {
    color: #232526;
    font-size: 16px;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    -webkit-box-pack: justify;
    align-items: center;
    transition: 50ms ease;

    &:hover {
      color: rgba(255, 255, 255);
      background: rgb(92, 91, 91);
      border-radius: 12px;
    }
  }
}

// Responsive
@media screen and (max-width: 728px) {
  .header {
    padding: 2rem 1rem;
    flex: 25% 75%;
  }
  .header__actions {
    width: 100%;
    flex: 100%;
    justify-content: space-between;
  }
  .header button:nth-of-type(1) {
    margin: 0 12vw 0 0;
    justify-self: flex-start;
  }
  .header button:nth-of-type(2) {
    // padding: 0;
    margin: 0;
    justify-self: flex-end;
  }
  .header__actionMenu {
    top: 115px;
    right: 1rem;
    width: 18rem;
    height: 40vh;
  }
}
