@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bellefair&family=Kanit:wght@100;200;300;500;600;700&family=Marcellus&display=swap");
:root {
  /*======= Fonts =======*/
  --archivo-ff: "Archivo Black", sans-serif;
  --bellefair-ff: "Bellefair", serif;
  --kanit-ff: "Kanit", sans-serif;
  --marcellus-ff: "Marcellus", serif;
}
html,
body {
  // Fix spacing
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Font
  font-feature-settings: "ss01";
  text-rendering: optimizeLegibility;
  // font-family: "Kanit", sans-serif;
  font-family: var(--marcellus-ff);
  font-weight: 700;
  // letter-spacing: 0.15rem;
  font-size: clamp(0.85rem, 5vw, 1.1rem);
  color: #232526;

  // Background
  max-height: 100vh;
  background: linear-gradient(to bottom right, #fff 0%, #414345);
  background-attachment: fixed;
}

// Override default link styles
a {
  color: inherit;
  text-decoration: none;
}

// Fix fonts for buttons and inputs
button,
input {
  font-feature-settings: "ss01";
  text-rendering: optimizeLegibility;
  font-family: var(--marcellus-ff);
  font-weight: 500;
  font-size: clamp(0.75rem, 5vw, 0.85rem);
  letter-spacing: 0.05rem;
  cursor: pointer;
  border: none;
}
h1,
h2 {
  font-family: var(--archivo-ff);
  font-weight: 500;
}
button {
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #232526 100%
  );
  // hsl(4, 100%, 49%)
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  display: flex;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 9px 10px 11px -9px rgba(0, 0, 0, 0.76);
}
button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  color: red;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  color: red;
}

@media (max-width: 600px) {
  body {
    font-size: clamp(0.85rem, 5vw, 1.1rem);
  }
}
