@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500;600;700&display=swap");
html,
body {
  // Fix spacing
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Font
  font-feature-settings: "ss01";
  text-rendering: optimizeLegibility;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.15rem;

  // Background
  // background: repeating-radial-gradient(
  //     rgba(192, 190, 190, 0.75),
  //     rgba(11, 11, 11, 0.8)
  //   ),
  //   url("/frontend/public/images/w3bridge-bg.jpeg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  max-height: 100vh;

  // background-image: linear-gradient(
  //   to bottom 2right,
  //   #d7d2cc 0%,
  //   hsl(206, 26%, 25%) 100%
  // );
  background: radila-gradient(#fff 0%, #414345 51%, #202020 10%);
  // background-color: linear-gradient(to bottom, #fff, #202020);
}

// Override default link styles
a {
  color: inherit;
  text-decoration: none;
}

// Fix fonts for buttons and inputs
button,
input {
  font-feature-settings: "ss01";
  text-rendering: optimizeLegibility;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.15rem;
  cursor: pointer;
}

button {
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #232526 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: flex;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.tests {
  color: #202020;
  color: #1d1d1d;
}

/*****==========Test==========*/

// darkred:
// # Main colors that can be changed
//   dark-primary-color: "#c66900"
//   disabled-text-color: "#545454"
//   divider-color: "rgba(255, 255, 255, 0.12)"
//   light-primary-color: "#e06c6c"
//   paper-card-background-color: "#1d1d1d"
//   paper-grey-200: "#191919"
//   paper-item-icon-color: "#d3d3d3"
//   paper-listbox-background-color: "#202020"
//   primary-background-color: "#303030"
//   primary-color: "#d32f2f"
//   primary-text-color: "#cfcfcf"
//   secondary-background-color: "#131313"
//   sidebar-text_-_background: "#62717b"
// # Colors based on variables, see above
//   paper-card-header-color: "var(--paper-item-icon-color)"
//   paper-item-icon-active-color: "var(--primary-color)"
//   paper-item-icon_-_color: "var(--primary-text-color)"
//   paper-listbox-color: "var(--primary-text-color)"
//   paper-grey-50: "var(--primary-text-color)"
//   paper-slider-active-color: "var(--primary-color)"
//   paper-slider-knob-color: "var(--primary-color)"
//   paper-slider-knob-start-color: "var(--primary-color)"
//   paper-slider-pin-color: "var(--primary-color)"
//   paper-slider-secondary-color: "var(--light-primary-color)"
//   paper-toggle-button-checked-ink-color: "var(--dark-primary-color)"
//   paper-toggle-button-checked-button-color: "var(--primary-color)"
//   paper-toggle-button-checked-bar-color: "var(--light-primary-color)"
//   paper-toggle-button-unchecked-bar-color: "var(--primary-text-color)"
//   secondary-text-color: "var(--primary-color)"
//   table-row-background-color: "var(--paper-card-background-color)"
//   table-row-alternative-background-color: "var(--sidebar-text_-_background)"
